logs_ec/Service References/ServiceReference1/ServiceDispatch1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.156.156.134/ServiceDispatch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dispatch_Services" />
  <xs:element name="dispatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEnvio" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dispatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dispatch_Services" minOccurs="0" name="dispatchResult" nillable="true" type="q1:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>